################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net5.0
/Web/obj
/API/obj
/.vs
/Web/bin
/API/bin
