/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.table-title {
  padding: 1em
}

.data-text {
  padding: 1em
}

.data-number {
  padding: 1em;
  text-align: center
}
