<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Test</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <PublishDir>\\vs-tfrontt2\c$\inetpub\wwwroot\test.safeprotect.fr\SafeProtectWebAdmin</PublishDir>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>